#root {
  color: #064635;
  text-align: center;
  font-family: 'Bellefair', serif;
}

.logo {
  height: 25em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;

}

.navBar {
  margin: 0;

}

.NavLogo {
  height: 3em;
}

.mainImg {
  width: 100vw;
}

.h1 {
  text-align: center;
  color: #064635;
}

p {
  margin: 3em
}