#root {
  display: flex;
  flex-direction: column;
  color: #064635;
  text-align: center;
  font-family: 'Bellefair', serif;
}

body,
html,
#root {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.logo {
  height: 25em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;

}

.navBar {
  margin: 0;

}

.NavLogo {
  height: 3em;
}

.mainImg {
  width: 100vw;
  max-width: 100%;
}

.h1 {
  text-align: center;
  color: #064635;
}



p {
  margin: 3em
}

footer {
  background-color: #064635;
  color: white;
  padding: 2em;
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  margin-top: auto;
}

#aboutDiv {
  padding-bottom: 10em;
}


#seedContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  /* margin: 3rem;
  margin-bottom: 50px; */
}

#seeds {
  margin-bottom: 50px;
}